[Unit]
Description=Workflow Manager
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/lib/logdna-agent
EnvironmentFile=/etc/environment
Environment=NODE_TLS_REJECT_UNAUTHORIZED=0
ExecStart=/usr/bin/node index.js
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
